<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="press" connectionString="yqV+V9oz+FWy0NBj20nKMOGU840L4tKDlrrbXMSvjW8d1TkY66le4feRqEPcmz+5ivhOnqUgx2d63Ip5JHC2QMWr0bI1RtI/4/OxjaRRGNhBrr6NCJ0w54ftKNWLxRt0"
             providerName="System.Data.SqlClient" />
     <add name="chatserver" connectionString="hBHvL7LYytAafdwBRrlfc4Ft4+FW8Yt0KQcdA6jqLLpVgTvQ+MORxOS+iNqK1VzVMAztWFtHkowG0DyKtWB4kw==" 
          providerName="MySql.Data.MySqlClient;"/>
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>